<!DOCTYPE html>
<html>

<head>

    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyle.css') }}">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    
    <title>ProxiMerch Results</title>
    <!--
    <link rel="stylesheet" type="text/css" href='C:\All My Data\College Data\Hackathons\2021\HexCambridge\Proximerch\Proximerch\static\styles\mystyle.css'>
        -->


</head>

<body>

    <div class="homepage">

        <h1 class="title">PROXIMERCH</h1>
        <h2 class="results">Results</h2>
        <img src="/static/styles/basket.PNG"><img src="/static/styles/basket.PNG"><img src="/static/styles/basket.PNG">
        <br>
        <br>
        <br>

          <table class="rec_table" align="center">
            <tr>
                <th>Shop</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td><a href={{recommended[0][2]}}>
                        <div style="height:100%;width:100%">
                          {{recommended[0][0]}}
                        </div>
                      </a>
                    </td> 
                </tr>
                <tr>
                    <td><a href={{recommended[0][2]}}>
                        <div style="height:100%;width:100%">
                          {{recommended[1][0]}}
                        </div>
                      </a>
                    </td> 
                </tr>
                <tr>
                    <td><a href={{recommended[1][2]}}>
                        <div style="height:100%;width:100%">
                          {{recommended[2][0]}}
                        </div>
                      </a>
                    </td> 
                </tr>
                <tr>
                    <td><a href={{recommended[1][2]}}>
                        <div style="height:100%;width:100%">
                          {{recommended[3][0]}}
                        </div>
                      </a>
                    </td> 
                </tr>
                <tr>
                    <td><a href={{recommended[1][2]}}>
                        <div style="height:100%;width:100%">
                          {{recommended[4][0]}}
                        </div>
                      </a>
                    </td> 
                </tr>
            </tbody>
        </table>


        <br>
        <br><a class="button" onClick="goBack()"><i class="fas fa-home"></i> Go Back to Home Page</a>

    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>


</html>